<div class="fundsContainer">
  <table class="fundsTable">
      <thead>
        <tr class="fundsUpperTable">
          <th>Fund Name</th>
          <th>1 Month Change</th>
          <th>1 Year Change</th>
          <th>3 Month Change</th>
          <th>3 Year Change</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fund of fundList" class="fundsLowerTable">
          <td title="{{ fund.fundType }}">{{ fund.fundName }}</td>
          <td class="fundsInfoText" [ngStyle]="{'color': fund.change1m < 0.00 ? 'red' : 'green'}">{{ fund.change1m }} {{ fund.currency }}</td>
          <td class="fundsInfoText" [ngStyle]="{'color': fund.change1y < 0.00 ? 'red' : 'green'}">{{ fund.change1y }} {{ fund.currency }}</td>
          <td class="fundsInfoText" [ngStyle]="{'color': fund.change3m < 0.00 ? 'red' : 'green'}">{{ fund.change3m }} {{ fund.currency }}</td>
          <td class="fundsInfoText" [ngStyle]="{'color': fund.change3y < 0.00 ? 'red' : 'green'}">{{ fund.change3y }} {{ fund.currency }}</td>
        </tr>
      </tbody>
  </table>
</div>
