.navigationBar {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid black;
  font-family: Verdana;
}

.titleText {
  margin: 0;
}

.hrefDiv {
  display: flex;
}

.navText {
  margin: 0;
  margin-right: 40px;
  margin-top: 10px;
  text-decoration: none;
}

.navText:hover {
  background-color: #f7f7f7;
}

/* Nav drop down */

.navSVG {
  margin-right: 40px;
  cursor: pointer;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  right: 0;
}

.dropdownContent a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdownContainer:hover .dropdownContent {
  display: block;
}

@media screen and (max-width: 600px) {
  .dropdown-content {
    right: auto;
    left: 0;
  }
}

.fundsContainer {
  width: 50%;
  padding: 20px;
  font-family: Verdana;
  padding-top: 80px;
}

/* Search box */

.searchContainer {
  align-items: center;
  position: relative;
  max-width: 100%;
}

.searchInput {
  margin-bottom: 10px;
  font-family: Verdana;
  font-size: 18px;
  padding: 5px 10px;
  width: 20%;
  padding-left: 35px;
  outline: none;
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 20px;
  transition: .3s ease;
}

.searchInput:focus {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
}

.searchSVG {
  position: absolute;
  left: 10px;
  fill: #000000;
  width: 18px;
  height: 18px;
  margin-top: 9px;
}

.resetButton {
  margin-left: 10px;
  border: 2px solid #000000;
  background: #ffffff;
  border-radius: 20px;
  font-family: Verdana;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.resetButton:hover {
  margin-left: 10px;
  border: 2px solid #000000;
  background: rgb(238, 238, 238)
}

.resetSVG {
  fill: #000000;
  margin-bottom: -1px;
  width: 18px;
  height: 18px;
}

/* Left table */

.tableContainer {
  display: flex;
  justify-content: space-between;
}

.fundsTable {
  flex: 1 0 80%;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
  
.fundsTable th {
  font-family: Verdana;
  color: #333;
  text-align: left;
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
  
.fundsTable td {
  padding: 15px;
  font-family: Verdana;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
  
.fundsTable tr:hover {
  background-color: #dbdbdb;
}
  
.fundsInfoText {
  font-weight: bold;
}

.fundsInfoText,
.extraInfoText {
  color: #333;
}

/*Right table*/

.moreInfoBar {
  border: 1px solid #9c9c9c;
  padding: 8px;
  font-family: Verdana;
  color: #333;
  padding: 20px;
  flex: 1 0 55%;
  margin-right: 50px;
  position: absolute;
  right: 0;
  width: 450px;
  border-top: none;
  border-bottom: none;
  
}
  
.moreInfoBar h2 {
  margin-bottom: 10px;
  color: #333;
}
  
.moreInfoBar h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}
  
.moreInfoBar h5 {
  margin-bottom: 5px;
}